
//error 404
.page-title {
  color: #fff;
  font-family: 'Exo', serif; 
  width: 300px;
  padding-bottom: 1.5rem;
  margin-top: 3rem;
  @include desktop {
    width: 600px; 
    margin: 0 auto;
  }
}
.page-content {
  p {
    color: #fff;
    font-family: 'Exo', serif; 
    width: 400px;
    @include desktop {
      width: 600px;
    }
  }
  .search-field {
    background-color: #222;
    color: #fff;
    border: 1px solid #0c0;
    display: inline; 
    font-family: 'Exo', serif; 
  }
}