/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Exo';
  src: url('../../assets/transfonter-fonts/Exo-LightItalic.woff2') format('woff2'),
      url('../../assets/transfonter-fonts/Exo-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('../../assets/transfonter-fonts/Exo-Light.woff2') format('woff2'),
      url('../../assets/transfonter-fonts/Exo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('../../assets/transfonter-fonts/Exo-MediumItalic.woff2') format('woff2'),
      url('../../assets/transfonter-fonts/Exo-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('../../assets/transfonter-fonts/Exo-Medium.woff2') format('woff2'),
      url('../../assets/transfonter-fonts/Exo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

