/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
  background-color: #222222;
}
.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 2.5%;
  width: 100%;
}
// header 
.logo {
  text-align: left; 
  img {
    display: block; 
    width: 300px; 
  }
}
//front page 
.random-quotes {
  font-family: 'Exo', serif;
  color: white; 
  font-size: 1.25rem; 
}
.blog .entry-title {
  display: inline;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0;
}

#new-quote-button {
  background-color: #222;
    border: 2px solid #0c0;
    border-radius: 3px;
    color: #0c0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: .75rem 2.25rem;
    box-shadow: none; 
    text-shadow: none; 
    font-family: 'Exo', serif; 
    &:hover {
      color: #43962A;
      box-shadow: none; 
      text-shadow: none; 
      border: 2px solid #43962A;
    }
}

//footer 
.footer-info {
  .footer-navigation{
    display: inline-flex;
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    ul {
      display: flex; 
      flex-wrap: wrap; 
      margin-top: 4.5rem; 
      margin-bottom: 0;
      margin-left: 0;
      list-style: none;
      padding: 0; 
    }
    li {
      border-right: 1px solid #fff;
      line-height: 1;
      padding: 0 1rem;
    }
    a {
      text-decoration: none; 
      color: #0c0;
    }

  }
}
.author {
  color: white; 
  .school {
    color: #0c0;
  }
}

//About 
h1.entry-title {
  margin-top: 3rem; 
  color: #fff;
  font-family: 'Exo', serif; 
}
.entry-content {
  color: #fff; 
  font-family: 'Exo', serif; 
  font-size: 1rem;
  line-height: 1.5; 
}
/* Archives Page */
.post-archives {
  h2 {
    color: white; 
    font-family: 'Exo', serif; 
  }
  ul {
    list-style: none; 
    margin-left: 0;
    padding-left: 0; 
    display: flex; 
    flex-wrap: wrap; 
  }
  li {
    margin-bottom: .5rem; 
    margin-right: 1.125rem; 
  }
  a {
    text-decoration: none; 
    color: #0c0;
    font-family: 'Exo', serif; 
  }
}

.category-archives {
  h2 {
    color: white; 
    font-family: 'Exo', serif; 
  }
  ul {
    list-style: none; 
    margin-left: 0;
    padding-left: 0; 
    display: flex; 
    flex-wrap: wrap; 
  }
  li {
    margin-bottom: .5rem; 
    margin-right: 1.125rem; 
  }
  a {
    text-decoration: none; 
    color: #0c0;
    font-family: 'Exo', serif; 
  }
}

.tag-archives {
  h2 {
    color: white; 
    font-family: 'Exo', serif; 
  }
  ul {
    list-style: none; 
    margin-left: 0;
    padding-left: 0; 
    display: flex; 
    flex-wrap: wrap; 
  }
  li {
    margin-bottom: .5rem; 
    margin-right: 1.125rem; 
  }
  a {
    text-decoration: none; 
    color: #0c0;
    font-family: 'Exo', serif; 
  }
}

/* Submit a Quote Page */
//logged in 
