
//search results page
.search-results.content-area {
  .page-numbers {
    color: #fff;
    padding: 0.5rem;
  }
  a {
    color: #0c0;
    text-decoration: none;
    font-family: 'Exo', serif;
    padding: 0.5rem;
  }
  p {
    color: #fff;
    font-family: 'Exo', serif; 
    width: 400px;
  }
  .number-pagination {
    color: #0c0;
    margin-bottom: 1rem;
  }
}
.search-form {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 3rem;
  label {
    margin: 0;
  }
  .search-field {
    width: 240px; 
  }
  textarea:focus, input:focus {
    color: #fff;
}
  @include desktop {
    margin-bottom: 3rem;
  }
}
.search-submit {
  border: 0;
  box-shadow: none; 
  background: #222;
  color: #222; 
  text-shadow: none; 
  .fa-search {
    color: #0c0; 
  }
}
fieldset {
  border: 0;
  margin: 0; 
  padding: 0; 
}


